.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;

}

.text-align-right-wg {

    text-align: right;

    @media screen and (max-width: 768px) {

        text-align: left;

    }
}

.parent {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    overflow: visible;
}

.component {
    position: -webkit-sticky;
    position: sticky !important;
    bottom: 0;
}

.p-small {
    font-size: x-small;
}

.border-bottom-table {
    background-color: #f8f9fa !important;
    border-bottom-width: 0px !important;

}

